# A more realistic detector: diffuse (PTFE-like) wrapping on five faces,
# readout coupled with optical grease / glass (n = 1.5), some Rayleigh
# scattering, photons generated uniformly in the volume.
surface = lambertian
reflectivity = 0.95
n_det = 1.5
abs_length = 1000
scat_length = 2000
source = volume
tau = 4.0
